In [1]:
# Add Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
from selenium import webdriver
import pandas as pd
import time 
import requests

In [2]:
# Import Splinter and set the chromedriver path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visit the following URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(3)

In [4]:

# Create HTML object
nasa_html = browser.html
# Parse HTML with BeautifulSoup
nasa_soup = BeautifulSoup(nasa_html, "html.parser")

In [5]:
# Find News Title
news_title = nasa_soup.find("div", class_ = "content_title").text.strip()
news_title

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [6]:
# Find the Paragraph Text
news_p = nasa_soup.find("div", class_ = "article_teaser_body").text.strip()
news_p

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite."

In [7]:
#JPL Mars Space Images - Featured Image

# Create variable to hold url
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [9]:
time.sleep(3)
# Have splinter click full image button
browser.find_link_by_partial_text("FULL IMAGE")
time.sleep(3)
# Have splinter click more info button
browser.find_link_by_partial_text("more info")

In [10]:
# Create HTML object
featured_pg = browser.html
# Create BeautifulSoup object and parse with HTML parser
jpl_soup = BeautifulSoup(featured_pg, "html.parser")

In [17]:
# Get featured image url
marsImages = jpl_soup.find_all("ul", class_="articles", limit=1)
for image in marsImages:
    featured_image_url = "https://www.jpl.nasa.gov/" + image.find("div", class_="img").img["src"]
    print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23634-640x350.jpg

In [18]:
#Mars Wether
# Create variable to hold url
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
tweet_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(tweet_url)

In [19]:
time.sleep(3)
# Create HTML object
tweet_mars_html = browser.html
# Create BeautifulSoup object and parse with HTML parser
tweet_mars_soup = BeautifulSoup(tweet_mars_html, "html.parser")

In [29]:
# Get the tweet text for the weather report for mars as variable mars_weather
tweets = tweet_mars_soup.find_all("p")
for tweet in tweets:
# if the tweet contains "Sol" we know it is a tweet about weather
   if 'Sol' in tweet.text:
        mars_weather = tweet.text
        break

In [30]:
mars_weather

'Aferin https://twitter.com/doug_ellison/status/1219805146747555840\xa0…'

In [31]:
#Mars Fact

In [32]:
# Create variable to hold url
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
mars_fact_url = "https://space-facts.com/mars/"
browser.visit(mars_fact_url)

In [33]:
tables = pd.read_html(mars_fact_url)
len(tables)

3

In [34]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
facts_df = tables[0]
facts_df.columns = ["Description", "Values"]
facts_df.set_index("Description", inplace = True)
facts_df

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [38]:
facts_table = facts_df.to_html()
facts_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [39]:
mars_facts_table = facts_table.replace("\n", "")
mars_facts_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [40]:
## Using Pandas to convert the data to a HTML table string.
facts_html = facts_df.to_html("facts_table.html")

In [41]:
#Mars Hemishphere

In [42]:
# Create variable to hold url
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(usgs_url)
time.sleep(3)

In [43]:
# Create HTML object
usgs_html = browser.html
# Create BeautifulSoup object and parse with HTML parser
usgs_html_soup = BeautifulSoup(usgs_html, "html.parser")

In [44]:
#Finding all the four hemispheres
results = usgs_html_soup.find_all("h3")
results

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [45]:
# Create empty dictionaries and list
hemisphere_img_urls = []
hemisphere_dicts = {"title": [] , "img_url": []}

In [46]:
# Use loop and splinter to open hemisphere links in order to get parse title and image urls
# Loop through each result
for result in results:
    # Get text info from result
    title = result.text
    browser.click_link_by_partial_text(title)
    time.sleep(1)
    img_url = browser.find_link_by_partial_href("download")["href"]
    hemisphere_dicts = {"title": title, "img_url": img_url}
    hemisphere_img_urls.append(hemisphere_dicts)
    time.sleep(1)
    browser.visit(usgs_url)

In [47]:

print(hemisphere_img_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [48]:
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]